In [1]:
a='sandip'
a[0]

's'

In [4]:
a[1]

'a'

In [5]:
s="Learning Python is very very easy!!!" 
s[1:7:1]

'earnin'

In [6]:
s[1:7:2]

'eri'

In [8]:
print("sandip"+"soft") 
print("sandip"*3)

sandipsoft
sandipsandipsandip

In [9]:
s='sandip' 
print(len(s))

6

In [14]:
s=input("Enter main string:")
subs=input("Enter sub string:")    
if subs in s:    
    print(subs,"is found in main string")    
else: 
    print(subs,"is not found in main string")

Enter main string:santosh is a phthon student
Enter sub string:santosh
santosh is found in main string

In [21]:
s1=input("Enter first string:")
s2=input("Enter Second string:")  
if s1==s2:  
    print("Both strings are equal")  
elif s1<s2:  
    print("First String is less than Second String")  
else:  
    print("First String is greater than Second String")

Enter first string:phython
Enter Second string:sql
First String is less than Second String

In [24]:
a=" apple "
len(a)

7

In [25]:
b=a.strip()

In [26]:
len(b)

5

In [31]:
city=input("Enter your city Name:")
scity=city.rstrip() 
if scity=='Hyderabad':  
    print("Hello Hyderbadi..Adab")  
elif scity=='Chennai':  
    print("Hello Madrasi...Vanakkam")  
elif scity=="Bangalore":  
    print("Hello Kannadiga...Shubhodaya")  
else:  
    print("your entered city is invalid")

Enter your city Name:   Bangalore
your entered city is invalid

In [33]:
s="Learning Python is very easy" 
print(s.find("Python")) 
print(s.find("Java"))  
print(s.find("r"))
print(s.rfind("r"))

9
-1
3
21

In [1]:
s=input("Enter main string:")  
subs=input("Enter sub string:")
n=s.index(subs)
print(n)

Enter main string:apple
Enter sub string:p
1

In [2]:
s=input("Enter main string:")  
subs=input("Enter sub string:")
n=s.rindex(subs)
print(n)

Enter main string:apple
Enter sub string:p
2

In [4]:
a="apple"
a.replace("a","b")

'bpple'

In [5]:
print(a) # string is immutable

apple

In [25]:
s="sandip,software,solutions"  
l=s.split(",")  
for x in l:  print(x)

sandip
software
solutions

In [26]:
s='learning Python is very Easy' 
print(s.upper())  
print(s.lower()) 
print(s.swapcase()) 
print(s.title()) 
print(s.capitalize())

LEARNING PYTHON IS VERY EASY
learning python is very easy
LEARNING pYTHON IS VERY eASY
Learning Python Is Very Easy
Learning python is very easy

In [27]:
s='learning Python is very easy' 
print(s.startswith('learning')) 
print(s.endswith('learning')) 
print(s.endswith('easy'))

True
False
True

In [29]:
a = int(input("Enter a? "))  
b = int(input("Enter b? "))
c = int(input("Enter c? "))  
if a>b and a>c:  
    print("a is largest") 
if b>a and b>c:  
    print("b is largest")  
if c>a and c>b:  
    print("c is largest")

Enter a? 5
Enter b? 6
Enter c? 7
c is largest

In [32]:
a=int(input("enter a number"))
if a%2==0:
    print("no is even")
else:
    print("no is odd")

enter a number5
no is odd

In [47]:
no=int(input("enter a no"))
s=[ x for x in range(1,101)] 
print (no in s)

enter a no6
True

In [41]:
no=int(input("enter a no"))
if no >= 1 and no <=100:
    print("no betweeen 1 to 100")
else:
    print("no not between 1 to 100")

enter a no-1
no not between 1 to 100

In [45]:
s=[ x for x in range(1,101)] 
print (s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [1]:
n=int(input("Enter the number of rows: ")) 
for j in range(1,n):  
    print(chr(64+j))

Enter the number of rows: 6
A
B
C
D
E

In [4]:
n=26
for j in range(1,n):  
    print(chr(64+j))

A

B

C

D

E

F

G

H

I

J

K

L

M

N

O

P

Q

R

S

T

U

V

W

X

Y

In [1]:
not(3>4)

True

In [2]:
not(1&1)

False

In [10]:
d={0,1,2}
for x in d:
    print(d.add(x))

None
None
None

In [4]:
print('new''line')

newline

In [9]:
for j in range(i*2,50,i) 
j for i in range(2,8)

SyntaxError: invalid syntax (<ipython-input-9-cf9c23f49012>, line 1)

In [11]:
string.ascii_letters

NameError: name 'string' is not defined

In [14]:
list(map(lambda x:x**-1,[1,2,3]))

[1.0, 0.5, 0.3333333333333333]

In [15]:
print('x\97\x98')

x\97Â˜

In [34]:
l=["good","oh!","execellent","#450"]
[n for n if n.isalpha()]

SyntaxError: invalid syntax (<ipython-input-34-4ae50058c05b>, line 2)

In [35]:
a=[1,2,3,4]
b=[sum(a[0:x+1]) for x in range(0,len(a))]
print(b)

[1, 3, 6, 10]

In [36]:
x=1234
res='integerx:...%d...%-6d...%06d'%(x,x,x)
print(res)

integerx:...1234...1234  ...001234

In [40]:
x="abcdef"  
i="a"
while i in x[4:-1]:
    print(i,end = "")

In [1]:
s="Sandip"
set={10,20,30,40}
print("Hello %s ...The List of Items are %s" %(s,set))

Hello Sandip ...The List of Items are {40, 10, 20, 30}

In [12]:
s="SandipKumar"
for x in s :
    print(x,end=',')

S,a,n,d,i,p,K,u,m,a,r,

In [8]:
i=1;  
num = int(input("Enter a number:"));  
for i in range(1,11):  
    print("%d X %d = %d"%(num,i,num*i));

Enter a number:6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [10]:
s="Sandip Kumar"
for x in s :
    print(x,sep=':')

S
a
n
d
i
p

K
u
m
a
r

In [24]:
n=26 
for j in range(0,n):  
    print(chr(65+j),end=',')

A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,

In [ ]:
str=eval(input("Enter String:"))
sum=0;
for x in str:
    sum=sum+x;
    print("The Sum=",sum)

In [2]:
x=eval("10+20+30")
print(x)

60

In [10]:
x=eval(input("Enter Expression"))
print(x)

Enter Expression10+2*3/4
11.5

In [3]:
x=1
while x <=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [2]:
n=int(input("Enter number:"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
    print("The sum of first",n,"numbers is :",sum)

Enter number:10
The sum of first 10 numbers is : 1
The sum of first 10 numbers is : 3
The sum of first 10 numbers is : 6
The sum of first 10 numbers is : 10
The sum of first 10 numbers is : 15
The sum of first 10 numbers is : 21
The sum of first 10 numbers is : 28
The sum of first 10 numbers is : 36
The sum of first 10 numbers is : 45
The sum of first 10 numbers is : 55

In [7]:
for i in range(4):#--------1
    for j in range(4):#-------4
     #   for k in range(4):#--------16
            print("i=",i,"  j=",j)#," K=",k)

i= 0   j= 0
i= 0   j= 1
i= 0   j= 2
i= 0   j= 3
i= 1   j= 0
i= 1   j= 1
i= 1   j= 2
i= 1   j= 3
i= 2   j= 0
i= 2   j= 1
i= 2   j= 2
i= 2   j= 3
i= 3   j= 0
i= 3   j= 1
i= 3   j= 2
i= 3   j= 3

In [19]:
for i in range(10):
    if i==7:
        print("processing is enough..plz break")
        break
    print(i)

0
1
2
3
4
5
6
processing is enough..plz break

In [21]:
cart=[10,20,600,60,70]
for item in cart:
    if item>500:
        print("To place this order insurence must be required")
        break
    print(item)

10
20
To place this order insurence must be required

In [30]:
n = int(input("Enter number of rows:"))
k=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end=" ")
        k=k+1;  
    print()

Enter number of rows:7
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [31]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter number:121
The number is a palindrome!

In [32]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
a=[5,5,6,7,7,7]
b=set(a)
def test(lst):
    if lst in b:
        return 1
    else:
        return 0
    for i in filter(test,a):
        print(i,end="")

In [36]:
print('ab'.zfill(5))

000ab

In [38]:
d={"john":40,"peter":45}
print(d)

{'john': 40, 'peter': 45}

In [39]:
t=(1,2,4,3,8,9)
[t[i] for i in range(0,len(t),2)]

[1, 4, 8]

In [40]:
a=(1,2,(4,5))
b=(1,2,(3,4))
a

(1, 2, (4, 5))

In [41]:
print([if i%2==0:i;else: i+1;for i in range(4)])

SyntaxError: invalid syntax (<ipython-input-41-117845c1bbde>, line 1)

In [42]:
print([[i+j for i in "abc"] for j in "def"])

[['ad', 'bd', 'cd'], ['ae', 'be', 'ce'], ['af', 'bf', 'cf']]

In [44]:
a={5,6,7,8}
b={7,5,6,8}
a==b

True

In [46]:
x=10**2
print(x)

100

In [50]:
def f(i,values=1,2,3)
values.append(i)
return values

print(1)

SyntaxError: invalid syntax (<ipython-input-50-74b39c03d8fa>, line 1)